body{
    padding: 0%;
    margin: 0%;
    background-color: #ededf0;
}

.weather{
    /* background: #444444; */
    height: 100%;
    width: 100%;
    position: relative;
}

.left-side-box{
    background: #FCFCFC;
    padding: 0px;
    width: 100%;
    /* height: 100vh; */
    position: fixed;
    z-index: 1;
    padding: 30px 0px;
    /* border: 2px solid green; */
    border-radius: 0px 30px 30px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    /* justify-content: left; */
}

.right-side-box{
    position: absolute;
    right: 0px;
    padding: 20px;
}

.topbar{
  border: none;
  border-radius: 20px;
  background: #EDEDF0;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* min-width: 450px; */
  width: 100%;
}

.topbar input{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 20px 20px;
}

.topbar button{
  background: #000;
  color: #fff;
  margin: 0px 10px;
  border-radius: 20px;
  font-size: 16px;
}



.temp-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.temp-info img{
  margin-top: 30px;
  width: 120px;
}

.temp-other-info{
    /* padding: 0px 30px !important; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    margin-top: 20px;
}

.temp-other-info h3{
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.temp-other-info p {
    font-size: 18px;
}

.temp-other-info p span{
    font-size: 20px;
    font-weight: 600;
}

.other-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* padding: 0px 30px; */
}

.other-info h3{
    font-size: 22px;
}


.current-weather-info{
  /* min-width: 150px; */
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current-weather-info img {
  width: 50px;
  margin-right: 10px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    text-transform: uppercase;
}

.header h2 {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
}


.scrolling-wrapper {
    display: flex;
    /* justify-content: center; */
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 270px;
    margin-top: 50px;
    /* padding: 10px; */
    .card {
      flex: 0 0 auto;
      min-width: 165px;
      margin: 10px 10px;
      border-radius: 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transition: all 0.4s;
      cursor: pointer;
    }
  }

  .card:hover{
    transform: scale(1.1);
  }

  .card img {
    width: 80px;
  }

  .scrolling-wrapper::-webkit-scrollbar {
    width: 0;
  }

  .weather_description{
    width: 100%;
    height: 100%;
    text-align: center;
    /* border: 2px solid red; */
    border-radius: 20px;
    padding: 4px 8px;
    margin: 0px;
    font-size: 18px;
    background: #EDEDF0;
    font-weight: 500;
  }

  .next_1_day_name{
    font-weight: 800;
    text-transform: uppercase;
  }

  .next_1_day_temp{
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    /* border: 2px solid red; */
    text-align: center;
    margin: 5px 0px;
  }

  #defaultWeather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #defaultWeather h4{
    font-weight: 700;
  }

  #defaultWeather p{
    font-size: 20px;
    font-weight: 600;
  }

/* 
.otherday-weather{
    max-height: 200px;
    border: 3px solid red;
     display: flex;
     overflow-x: auto;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    background: red;
    padding: 20px 40px;
} */

/* .day-weather{
    background: blue;
    max-width: 150px;
    height: 160px;
    width: 100%;
    margin: 0px 10px;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.4s;
} */

/* .day-weather:hover{
    transform: scale(1.2);
} */

/* .day-weather h4{
    font-size: 16px;
    font-weight: 200;
}


.day-weather img{
    width: 80px;
} */


.weather-other-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.highlights{
    margin-top: 20px;
    margin-bottom: 20px;
}

.highlights-box{
    background: #FCFCFC;
    border-radius: 20px;
    min-height: 200px;
    padding: 10px 20px;
    height: 100%;
    cursor: pointer;
    transition: all 0.4s;
}

.highlights-box:hover{
    transform: scale(1.1);
}

.highlights-topbar {
    font-size: 18px;
    font-weight: 500;
}

.highlights-img img {
    width: 60px;
}

.highlights-inner-box{
    /* height: 100%; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.highlights-number h2{
    font-size: 20px;
    padding: 10px 0px;
}

.sun-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}







/* sun rise logo start  */

.sun-rise{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sun-rise img{
    width: 50px;
    margin-right: 10px;
}
/* sun rise logo end  */


/* sun set logo start  */

.sun-set{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sun-set , .sun-rise p {
    font-size: 16px;
    font-weight: 600;
}

.sun-set img{
    width: 50px;
    margin-right: 10px;
}
/* sun set logo end  */


.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 50px;
  /* padding: 10px 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px;
}

.footer .developer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.footer .developer span{
  font-weight: 600;
}




/* Responsive styles */
@media only screen and (max-width: 1200px) {
  /* For mobile devices 767px */

  /* @media only screen and (max-width: 900px) { */
  /* For mobile devices 767px*/

  body {
      font-size: 14px; /* Adjust the base font size for better readability on smaller screens */
  }

  .left-side-box, .right-side-box {
    position: relative;
      width: 100%;
      border-radius: 0;
  }


  .topbar{
    width: auto;
    margin: 0px 20px;

  }

  .scrolling-wrapper{
    display: flex;
    /* justify-content: center; */
  }


  .topbar{
    width: auto;
    margin: 0px 15px;
  }


  .topbar input {
      min-width: 110px;
  }

  #defaultWeather{
    width: auto;
    margin: auto;
  }


  .card {
      min-width: 120px;
  }

  .header h2 {
      font-size: 20px;
  }

  .other-info{
    margin-top: 40px;
    padding: 0px 20px;
  }

  .temp-other-info{
    padding: 0px 25px;

  }

  .temp-other-info{
    padding: 0px 20px;
  }


  .other-info{
    padding: 0px 20px;
    margin-top: auto;
  }


  .temp-other-info h3 {
      font-size: 20px;
  }

  .temp-other-info p, .temp-other-info p span {
      font-size: 16px;
  }

  .highlights-box, .highlights-inner-box {
      width: 100%;
  }

  .highlights-box:hover {
      transform: none;
  }

  .sun-info {
      /* height: auto; */
  }

  .footer .developer{
    display: inline-block;
    text-align: center;
  }
}
/* } */
